@import '/node_modules/bootstrap/scss/bootstrap';

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(21, 49, 96);
}

.font-1 {
    font-family: "Lilita One", sans-serif;
}

.text_secondary {
    color: rgb(21, 49, 96);
}